<p>Enter your city &amp; state or your zip code to locate a SAMHSA facility in your area:</p>

<form method="get" action="/search">
  <input type="text" name="location" />
  <input type="submit" value="Search" />
</form>

